{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">CONTACT US</h1>
    <div class="row text-white mb-5">
        <p class="mx-auto mb-5">
            Do You have any Questions?? Please do not hesitate to contact.
            I will come back to you within a matter of hours to help you
        </p>
        <div class="col-sm-9 mb-5">
            <form action="/contact/"  method="post">{% csrf_token %} 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="subject">Your Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject">
                    </div>
                    <label for="message">Your Message</label>
                    <textarea class="form-control" id="message" name="message"></textarea>
                </div>
<button class="btn btn-primary mt-3" type="submit">Send</button>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fa-solid fa-location-dot fa-2x i-color"></i>
                    <p>Karawal Nagar, Delhi-110094</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone fa-2x i-color mt-3"></i>
                    <p>+91-Phone</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope fa-2x i-color mt-3"></i>
                    <p>email@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="text-center">
    <a href="#" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-facebook fa-2x"></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a>

</div>
{% endblock content %}