{% extends 'core/base.html' %}
{% block title %} Experience{% endblock title %}
{% block content %} 

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Experience</h1>
    <div class="row text-white">
      <div class="mb-5">
        <h3>Company Name: Savatarr Technologies Pvt Ltd</h3>
        <h4>Designation: <b class="text-warning">Python Developer</b> </h4>
        <h5>Started From: <b class="text-warning">7 Jan 2022 </b>To <b class="text-warning">28  Feb 2023</b></h5>
        <h3> <b class="text-warning">Responsibilities:-</b></h3>
        <p class="mt-3">-For Google ads campaign, used to write the code to track the user behaviour.</p>
            <p>-Improved functionality in written code.</p>
            <p>-By using Fiddler(debugging proxy tool) used to compose and execute different Http request to web APIs and check the Http response.</p>
            <p>-If required get the data from various APIs in JSON form and save the data as per requirement by using List , Dictionary and other DS methods.</p>
            <p>-Added the event and event-actions taken by the customer.</p>

      </div>
      
      <div class="mb-5">
        <h3>Company Name: All Sec Technologies</h3>
        <h4>Designation: <b class="text-warning">Customer care Execcutive</b> </h4>
        <h5>Started From: <b class="text-warning">8 Oct 2020 </b>To <b class="text-warning">16 Nov 2021</b></h5>
        <h3> <b class="text-warning">Responsibilities:-</b></h3>

        <p>Here I used to provide the  resolution of any issue to OLX user.</p>
          
    </div>
    </div>
  
  </div>
  {% endblock content %} 
