{% extends 'core/base.html' %}
{% block title %} Education{% endblock title %}
{% block content %} 
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Qualifications</h1>
  <div class="row text-white">
    <div class="mb-5">
      <h3>10th</h3>
      <p>I have completed by 10th in 2014 from <b class="text-warning"> Govt. Girls Sr. Secondary School </b></p>
    </div>
    <div class="mb-5">
      <h3>Diploma</h3>
      <p>I have completed my diploma in Computer Science  in 2017 from <b class="text-warning">Kasturba  Institute of technology</b></p>
    </div>
    <div class="mb-5">
      <h3>Graduation</h3>
      <p>I have completed my Graduation in BCA in 2022  From <b class="text-warning">Indira  Gandhi National Open University</b></p>
    </div>

  </div>

</div>
  {% endblock content %}